doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel="stylesheet" href="/style.css")
  body
    h1 Simple Calc
    #wrapper
      #screen 0
      #buttons
        #row1.row
          button(type="submit")#clear.button Clear
        #row2
          button(type="submit")#num7.button 7
          button(type="submit")#num8.button 8
          button(type="submit")#num9.button 9
          button(type="submit")#calc-plus.button +
          button(type="submit")#calc-minus.button -
        #row3.row
          button(type="submit")#num4.button 4
          button(type="submit")#num5.button 5
          button(type="submit")#num6.button 6
          button(type="submit")#calc-mult.button *
          button(type="submit")#calc-div.button /
        #row4.row
          button(type="submit")#num1.button 1
          button(type="submit")#num2.button 2
          button(type="submit")#num3.button 3
          button(type="submit")#calc-equal.button =
        #row5.row
          button(type="submit")#num0.button 0
          button(type="submit")#dot.button .
          button(type="submit")#sign.button @
    script(src='/vendor/jquery/dist/jquery.js')
    script(src="/main.js")
