.container {
  margin-top: 25px;
  width: 400px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 4vw;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(#8b9da9, #dae0e3);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}
#row1 {
  border: 1px solid #a98b8e;
}
.row.text-center {
  margin: 0 auto;
}
.button,
#clear {
  border: 1px solid #a98b8e;
  vertical-align: mddle;
}
.button,
.top-button {
  padding: 15px 0;
}
#clear {
  text-align: center;
}
#screen {
  text-align: right;
  padding-right: 45px;
}
.calc {
  background-image: linear-gradient(#637785, #8b9da9);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}
.button:hover {
  background-image: linear-gradient(#8093a1, #dae0e3);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
